<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="container-fluid">

	<body>
	<h2>
		Wilson, Tim -
		<small class="text-muted">CU Boulder Class of 2023</small>
	</h2>
	
		 alt="A portrait of me after graduating High School" height="340px" width="240px" class="rounded-circle">
	<h3> Projects</h3>
	<br>


	</body>
</div>


</html>
